html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #07598D;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo, header .second-logo {
    height: 50px;
    margin-left: 20px;
}

header .toggle-temp {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header .toggle-temp:hover {
    background-color: #45a049;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.section-header div {
    display: flex;
    align-items: center;
}

.import-button {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.import-button:hover {
    background-color: #e69500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dataTables_wrapper {
    padding: 10px;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;
}

table.dataTable th, table.dataTable td {
    padding: 12px;
    border: 1px solid #ddd;
}

table.dataTable thead th {
    background-color: #07598D;
    color: white;
    font-weight: bold;
}

table.dataTable tbody td img {
    border-radius: 5px;
    width: 50px;
}

table td .edit-button,
table td .delete-button {
    display: inline-block;
    width: 80px;
    padding: 8px 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

table td .edit-button {
    background-color: #1E90FF;
    color: white;
}

table td .edit-button:hover {
    background-color: #0056b3;
}

table td .delete-button {
    background-color: #f44336;
    color: white;
}

table td .delete-button:hover {
    background-color: #d32f2f;
}

table td {
    text-align: center;
    vertical-align: middle;
}

button, .edit-button, .delete-button, .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.edit-button {
    background-color: #1E90FF;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.delete-button, .logout-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover, .logout-button:hover {
    background-color: #d32f2f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.modal-content label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="number"],
.modal-content input[type="file"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="date"]:focus,
.modal-content input[type="number"]:focus,
.modal-content input[type="file"]:focus {
    border-color: #1E90FF;
    outline: none;
}

.modal-submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-submit-btn:hover {
    background-color: #0056b3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #f44336;
}

select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #1E90FF;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
    outline: none;
}

select::-ms-expand {
    display: none;
}

select:hover {
    border-color: #1E90FF;
}

option {
    padding: 12px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

option[value=""][disabled] {
    display: none;
}
