<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real-Time Monitoring Network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
</head>
<body>
    <header>
        <h1>Real-Time Monitoring Network</h1>
        <div class="logo-container">
            <img src="static/images/logo_parthenope.png" alt="Logo" class="logo">
            <img src="static/images/logo_most.png" alt="Second Logo" class="second-logo">
        </div>
        
    </header>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <div id="iframe-container">
        <iframe id="grafana-iframe" src="" frameborder="0"></iframe>
    </div>
    <footer>
        <p>&copy; 2024 Real-Time Monitoring Network UniParthenope</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="static/js/script.js"></script>
</body>
</html>
